# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Note: use 5432 to prevent https://github.com/supabase/supabase/discussions/5768
# or add "&pgbouncer=true" at the end which prevents issue https://github.com/prisma/prisma/issues/11643
# More info: https://www.prisma.io/docs/guides/performance-and-optimization/connection-management/configure-pg-bouncer
# YOUR-PASSWORD - replace with your database password
# YOUR-HOST - replace with your database host address, typically something like db.123456789abcdefgh.supabase.co

DATABASE_URL="postgres://postgres:[YOUR-PASSWORD]@[YOUR-HOST]:5432/postgres"

NEXT_PUBLIC_VERCEL_URL=${VERCEL_URL}